<!DOCTYPE html>
<html>
<head>
    <title><%= TITLE %></title>
    <link rel="icon" href="/apitest/imgs/favicon.ico" type="image/x-icon">
    <script src="/apitest/jquery-1.11.3.min.js"></script>
    <script src="/apitest/js/apitest_utils.js"></script>
    <link href="/apitest/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="/apitest/bootstrap334/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/apitest/bootstrap334/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="/apitest/bootstrap334/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css"/>
    <script src="/apitest/bootstrap334/js/bootstrap.min.js"></script>
    <script src="/apitest/bootstrap334/js/bootstrap-datetimepicker.js"></script>
    <script src="/apitest/bootstrap334/js/locales/bootstrap-datetimepicker.fr.js"></script>
    <script src="/apitest/bootstrap334/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>

<div class="container">

    <h1>欢迎使用 <%= TITLE %> API单元测试功能 </h1>

    <textarea title="" id="hidenString" hidden style="height: 1px">
        <%= APICONFIG %>
    </textarea>


    <div style="display: inline-block; padding-top: 25px">
        <label class="" style="width: 80px;float: left;line-height: 34px; margin-right: 10px">选择模块：</label>
        <select id="apiModuleList" onchange="updateApis();" title="" style="margin-right:10px; width: 150px;float: left"
                class="form-control">
        </select>
        <label class="" style="width: 80px;float: left;line-height: 34px; margin-right: 10px">选择API：</label>
        <select id="apiList" onchange="updateParas();" title="" style="margin-right:10px; width: 300px;float: left"
                class="form-control">
        </select>
        <input id="moduleQueryButton" style="display: inline-block; width: 80px; float: left"
               onclick="commint_request();" type="button"
               value="提交" class="btn btn-primary"/>
    </div>

    <div>
        <label class="" style="width: 150px;float: left;line-height: 34px; margin-right: 10px">请输入参数：</label>
        <div>
            <table id='apiRequestTable' style='word-break: break-all; table-layout: fixed' class="table table-striped">
            </table>
        </div>
    </div>

    <label class="" style="width: 80px;float: left;line-height: 34px; margin-right: 10px">请求内容：</label><br><br>
    <div>
        <pre id="requestBody" style="height: 100%; padding: 5px" title="">
        </pre>
    </div>

    <label class="" style="width: 80px;float: left;line-height: 34px; margin-right: 10px">回复内容：</label><br><br>
    <div>
        <pre id="responseBody" style="height: 100%; padding: 5px" title="">
        </pre>
    </div>


</div>

<script>

    var g_api_type = "<%= API_TYPE %>";
    var g_api_url = "/api/";
    var g_create_sign_func = createSign;

    function getSelectedApi() {
        selectedModule = getSelectedOption("#apiModuleList");
        selectedApi = getSelectedOption("#apiList");

        apiModule = JsonObj[selectedModule];
        return apiModule["protos"][selectedApi];
    }

    function updateParas() {

        bodyStr = "";

        selectedApiObj = getSelectedApi();
        parasList = selectedApiObj["paras"];

        var $parasTable = $("#apiRequestTable");

        bodyStr += "<tr><th width='25%'>名称</th>";
        bodyStr += "<th width='25%'>类型</th>";
        bodyStr += "<th style='word-break: break-all'>内容</th></tr>";

        for (var i = 0; i < parasList.length; i++) {

            param = parasList[i];

            var placeHolder = param["desc"];
            var value = "";

            if (param["default"] != "NotNull") {
                placeHolder = placeHolder + " ( " + param["default"] + " ) ";
                value = param["default"];
            }

            bodyStr += "<tr><td><input type='text' disabled readonly name='name' value = " + param["name"] + "></td > ";
            bodyStr += "<td><select readonly disabled name='type' class='form-control'><option>" + param["type"] + "</option></select></td > ";
            bodyStr += "<td><input type='text' name='value' placeholder='" + placeHolder + "' value = '" + value + "'></td></tr>";
        }

        $parasTable.html(bodyStr);
    }

    function updateApis() {
        selectedModule = getSelectedOption("#apiModuleList");

        var $apiList = $("#apiList");
        var bodyStr = "";

        apiModule = JsonObj[selectedModule];

        for (var key in apiModule["protos"]) {
            apiNode = apiModule["protos"][key];
            bodyStr += "<option value='" + key + "'>" + apiNode["name"] + "</option>"
        }

        $apiList.html(bodyStr);

        updateParas();
    }

    function fetch_api_paras() {
        var paras = {};

        $apiTable = $("#apiRequestTable");
        var $trs = $apiTable.children("tbody").children("tr");
        $trs.each(function (index) {
            var $tr = $(this);
            if (index != 0) {
                $tds = $tr.children("td");
                var name = $tds[0].children[0].value;
                valueType = $tds[1].children[0].value;
                value = $tds[2].children[0].value;
                if (valueType == "int") {
                    paras[name] = parseInt(value);
                } else if (valueType == "boolean") {
                    paras[name] = value.toLowerCase() == "true";
                } else if (valueType == "liststring") {
                    paras[name] = value.split(",");
                } else if (valueType == "listint") {
                    paras[name] = value.split(",");
                } else {
                    paras[name] = value;
                }
            }
        });

        return paras;
    }


    function commint_request() {
        selectedApi = getSelectedApi();
        json = {
            "api": selectedApi["key"],
            "paras": fetch_api_paras(),
            "token": "00000000000000000000000000000000",
            "timestamp": new Date().getTime()
        };

        json["sign"] = g_create_sign_func(json);

        bodyStr = JSON.stringify(json);

        httpPost(g_api_url, bodyStr, function (resJson) {
            $("#requestBody").html(JSON.stringify(json, null, 4));
            $("#responseBody").html(JSON.stringify(resJson, null, 4));
        });
    }

    function initModuleList() {
        var bodyStr = "";
        var $moduleListTable = $("#apiModuleList");
        for (var key in JsonObj) {
            bodyStr += "<option>" + key + "</optipn>";
        }
        $moduleListTable.html(bodyStr);
    }

    var $hidenNode = $("#hidenString");
    var JsonObj = JSON.parse($hidenNode.html());

    if (g_api_type === "wxapi") {
        g_api_url = "/wxapi/";
        g_create_sign_func = createSignWx;
    }

    initModuleList();

    updateApis();

    console.log(JsonObj)

</script>

</body>
</html>
