.u-check{
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  .label {
    font-size: 14px;
    padding-right: 10px;
  }
  .check-box {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #f0f0f0;
    .check {
      font-size: 14px;
      color: #666;
      transform: scale(.5);
      opacity: 0;
      transition: all .2s;
    }
  }
  &.check {
    .check-box{
      .check{
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  &.focus {
    .check-box{
      border: 1px dashed #2b669a;
      .check{
        color: #2b669a;
      }
    }
  }
  &.down {
    .check-box {
      transition: box-shadow .5s;
      animation: buttonDown .5s;
    }
  }
  &.hover{
    .check-box {
      background-color: #FFF;
    }
  }
  &.disabled{
    background-color: #e0e0e0;
    cursor: auto;
    .label{
      color: #aaa;
      text-shadow: 1px 1px 0 #FFF;
    }
    .check-box{
      background-color: #e0e0e0;
      box-shadow: 1px 1px 0 #FFF;
    }
  }
}
@keyframes buttonDown {
  0% {
    box-shadow: 0 0 0 rgba(0,0,0,.8);
  }
  100% {
    box-shadow: 0 0 20px rgba(0,0,0,0);
  }
}